# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/